* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
a{
	text-decoration: none;
}
.container{
	background: #d3d3d3;
	height: 100vh;
}
header {
	padding: 0 20px;
	border: 1px solid #E87532;
	border-radius: 6px;
	margin: 15px 0;
	background: #f3f3f3; 
}
.logo{
	text-align: center;
}
img {
	width: 100%;
	height: auto;
}
.time, .personal {
	padding-top: 15px;
}
.time span,
.personal a {
	display: block;
	line-height: 21px;
}
.personal a {
	color: #E87532;
}
.personal a:hover {
	text-decoration: underline;;
}
.time span {
	font-size: 12px;
}
.companions, .me {
	padding: 10px;
	border: 1px solid #E87532;
	border-radius: 6px;
	background: #f3f3f3;
	
	margin-bottom: 10px;
}
.companions {
	height: 48vh;
}
.companions a, .chat a {
	color: #000;
}
.companions a:hover, .chat .active a{
	color: #E87532;
	font-weight: bold;
}
.companions .Active a:before {
	content: "\f058";
	font-family: FontAwesome;
	padding-right: 7px;
	color: #66cc66;
}
.companions .Suspended a:before {
	content: "\f017";
	font-family: FontAwesome;
	padding-right: 7px;
	color: #E87532;
}
.listUsers, .cont, .message textarea{
	overflow-y: scroll;
}
.listUsers{
	border: 1px solid #A9A9A9;
	padding: 2%;
	height: 45vh;
}
.tabContent, .message {	
	padding: 10px;
	border: 1px solid #E87532;
	background: #fff;
}
.chat li.tab {
	display: inline-block;
	border: 1px solid #E87532;
	border-radius: 6px 6px 0 0;
	background: #e3e3e3;
	padding: 2px 5px;
}
.chat li.tab a{
	cursor: pointer;
	padding-right: 15px;
} 
.chat li.active {
	background: #fff;
	border-bottom: 1px solid #fff;
}
.tabContent {
	margin: -1px 0 0 0;
	border-radius: 0 6px 6px;
	height: 38vh;	
}
.cont {
	display: none;
	height: 35vh;
	border: 1px solid #A9A9A9;
	padding: 2%;

}
.current {
	display: block;
}
.message {
	margin: 10px 0;
	border-radius: 6px;
}
.message textarea {
	width: 100%;
	height: 10vh;
}
.message form {
	overflow: hidden;
}
.message .edit {
	float: left;
}
.edit a {
	color: #E87532;
	border: 1px solid #E87532;
	border-radius: 3px;
}
.edit i {
	margin: 5px;
}
.edit a:hover {
	background: #e3e3e3;
}
.message button {
  float: right;
  background: #e87532;
  background-image: -webkit-linear-gradient(top, #e87532, #d14d00);
  background-image: -moz-linear-gradient(top, #e87532, #d14d00);
  background-image: -ms-linear-gradient(top, #e87532, #d14d00);
  background-image: -o-linear-gradient(top, #e87532, #d14d00);
  background-image: linear-gradient(to bottom, #e87532, #d14d00);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  border: 1px solid #d14d00;
  font-family: Arial;
  color: #000000;
  font-size: 14px;
  padding: 5px;
  text-decoration: none;
}
.message button:hover {
  background: #d14d00;
  background-image: -webkit-linear-gradient(top, #d14d00, #e87532);
  background-image: -moz-linear-gradient(top, #d14d00, #e87532);
  background-image: -ms-linear-gradient(top, #d14d00, #e87532);
  background-image: -o-linear-gradient(top, #d14d00, #e87532);
  background-image: linear-gradient(to bottom, #d14d00, #e87532);
  text-decoration: none;
}
.message_info {
	display: block;
	font-size: 10px;

}
